# =========================
# Django / Python
# =========================

backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/.env

# Django local files
backend/db.sqlite3

# =========================
# Node / Frontend
# =========================

frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/dist/
frontend/build/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db
.env
